/* the style of price component */
.chart-wrapper {
  height: 400px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

/* the style of Indexes component */
.indexes-container {
  background-color: white;
  border-radius: 20px;
}
.chart-label-list {
  list-style: none;
}
li:hover {
  cursor: pointer;
}
li:before {
  content: "• ";
  padding-right: 5px;
}

li:nth-child(1):before {
  color: #55efc4;
  font-size: 30px;
}

li:nth-child(2):before {
  color: #fdcb6e;
  font-size: 30px;
}

li:nth-child(3):before {
  color: #d63031;
  font-size: 30px;
}
.max-text {
  color: #d63031;
}
.min-text {
  color: #55efc4;
}
